.hamburger:hover > div:nth-child(1){
  position: relative;
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  position: relative;
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  position: relative;
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {top: 0px;}
  to {transform: rotate(45deg); top: 34px;}
}

@keyframes middle {
  from {top: 0px;}
  to {opacity: 0;}
}

@keyframes bottom {
  from {top: 0px;}
  to {transform: rotate(-45deg); top: -34px;}
}
